# Django
Django>=4.2,<5.0

# Database
psycopg2-binary
# mysqlclient  # Uncomment for MySQL
django-cleanup

# Environment variables
python-dotenv

# Security
django-cors-headers

# Static files
whitenoise

# Image processing
Pillow

# Additional utilities
python-slugify
