# Django
Django>=4.2,<5.0

# Database
mysqlclient
# psycopg2-binary  # Uncomment for PostgreSQL
django-cleanup

# Environment variables
python-dotenv

# Security
django-cors-headers

# Static files
whitenoise

# Image processing
Pillow

# Additional utilities
python-slugify
